﻿@model Pk2_RSVPwapp.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css" />
    <title>Agradecimientos</title>
</head>
<body>

    @{
        try{
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "kualerz@gmail.com";
            WebMail.Password = "najpi";
            WebMail.From = "kualerz@gmail.com";

            WebMail.Send("kualerz@gmail.com", "Notificación RSVP", Model.Name + ((Model.WillAttend ?? false) ? "" : "no") + "Atendera");
            
        }
        
        catch(Exception)
        {
            @:<b> Error: No se pudo enviar el correo para confirmar </b>
        }
    }
  
        <h1>¡Gracias @Model.Name!</h1>

        @if (Model.WillAttend == true)
        {
            @:¡Qué bueno que vendrás, las chelas estarán listas en el refri!
            <img width="300px" height="200px" src="~/Content/cervezas.png" />
            <center>
              <audio controls="controls" autoplay="autoplay">
    <source src="~/Content/die.mp3" />
                
    </audio>
               
                  </center>

            
        }
        else
        {
            @:¡Siento mucho que no puedas venir! =(, pero muchas gracias por informarlo.
            <img width="200px" height="200px" src="~/Content/triste.jpg" />
        }

         @Html.ActionLink("Regresar al menú", "Index")
        

</body>
</html>
