﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css" />



    <title>Index</title>

</head>

  

<body>
    <div>
   
        <h1>@ViewBag.Greeting, Amigo</h1>
        <h2>Estás cordialmente invitado a mi fiesta de cumpleaños, por favor llena tus datos en el siguiente enlace</h2>
        <img width="200px" height="200px" src="~/Content/cumple.jpg" />
        
        <br>
        @Html.ActionLink("¡Llenar invitación!", "Rsvpform")


        </div>
       
   
</body>
</html>
