﻿@model Pk2_RSVPwapp.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css" />
    <title>Rsvpform</title>
</head>
<body>

    <div>
    
    @using (Html.BeginForm())
    {
    <p>Tu nombre:<br /> @Html.TextBoxFor(x => x.Name)</p>
    <p>Tu correo electrónico: <br /> @Html.TextBoxFor(x => x.Email)</p>
    <p>Tu teléfono: <br />@Html.TextBoxFor(x => x.Phone)</p>
    <p>
        ¡Asistirás a la fiesta!<br />
        @Html.DropDownListFor(x => x.WillAttend,
        new[]
        {
            new SelectListItem(){Text="Si, Ahí estaré",
                Value = bool.TrueString},
            new SelectListItem(){Text="No, no podré asistir",
                Value=bool.FalseString}
        },
        "Escoje una opción")
        </p>
    <input id="boton" type="submit" value="Enviar al cumpleañero" />
    }
     
    </div>

              
</body>
</html>
