
body
{
background-color:black;
background-image:url("Resources/metallica.jpg");
background-position:right;
background-repeat:repeat-y;
color:white;
text-align:center;

}

img
{

display: block;
margin: auto;
}

div
{
    text-align:center;
}

audio
{
margin:100px 0 0 1000px;
}

table
{
margin:50px auto 0 auto;
border-color:White;
border-width:medium;
text-align:center;
color:White;
border-width:5px;

}
h2
{
    color:white;
    text-align:center;
    
}

h5
{
    color:Yellow;
    font-family: Verdana, Helvetica;
    text-align:center;
}

dl
{
    color:Orange;
}
input
{
    background-color:Orange;
    border-color:White;
    border-width:medium;
    color:Blue;
    
    
}
h1
{
    font-family:fantasy, monospace, sans-serif, Helvetica, Arial;
    color:Orange;
    text-align:center;
}
h4
{
    color:Red;
    text-align:center;
    font-size:larger;
    
}

p
{
    text-align:justify;    
    color:Red;
    font-family: Helvetica, Arial, cursive;
}

#links
{
    text-align:center;
    color:Orange;
    cursor:progress;
    font-size:large;
 
}

hr
{
margin:0 auto;
    width:50%;
}
a
{
    color:gray;
}

table {
  
    border-color:white;
}