﻿@model EmployeeQuiz.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <span>Ingrese el código de empleado</span>
            <p>@Html.TextBoxFor(m => m.Id)</p>
            <input type="submit" value="Buscar Empleado" />
            
           
        }


        
    </div>
</body>
</html>
