﻿@model EmployeeQuiz.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkerView</title>
</head>
<body>
    <div>
        <img src="@Url.Content(Model.PhotoPath)" alt=" "Sample Image" width= "400" height="500" />


        <p>
        <b>ID:</b> @Model.Id
        </p>

            <p>
        <b>Nombre:</b> @Model.Name
        </p>

            <p>
        <b>Apellidos:</b> @Model.FirstLastName @Model.SecondLastName
        </p>

            <p>
        <b>Sexo:</b> @Model.Sex
        </p>

            <p>
        <b>Salario:</b> @Model.Wage
        </p>

          <p>
        <b>Puesto:</b> @Model.Position
        </p>






    </div>
</body>
</html>
