﻿@model MVC_CRUD.empleado

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar empleado</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>empleado</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_empleado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_empleado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ap_pat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ap_pat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ap_mat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ap_mat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.foto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.foto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.puesto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.puesto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.area)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.area)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.edad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.edad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sueldo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sueldo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
       @Html.ActionLink("Regresar al catálogo", "Index")
    </p>
}
