﻿@model MVC_CRUD.empleado

@{
    ViewBag.Title = "Edit";
}

<h2>Editar empleado</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>empleado</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_empleado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_empleado)
            @Html.ValidationMessageFor(model => model.id_empleado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ap_pat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ap_pat)
            @Html.ValidationMessageFor(model => model.ap_pat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ap_mat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ap_mat)
            @Html.ValidationMessageFor(model => model.ap_mat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.foto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.foto)
            @Html.ValidationMessageFor(model => model.foto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.puesto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.puesto)
            @Html.ValidationMessageFor(model => model.puesto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.area)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.area)
            @Html.ValidationMessageFor(model => model.area)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.edad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.edad)
            @Html.ValidationMessageFor(model => model.edad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sueldo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sueldo)
            @Html.ValidationMessageFor(model => model.sueldo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
   @Html.ActionLink("Regresar al catálogo", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
