﻿@model IEnumerable<MVC_CRUD.empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Catálogo de empleados</h2>

<p>
    @Html.ActionLink("Crear empleado", "Create")
</p>
<table border="1">
    <tr>
        <th>
            Foto
        </th>
        <th>
           Apellido Paterno
        </th>
        <th>
            Apellido Materno
        </th>
        <th>
           Nombre
        </th>
        <th>
           Puesto
        </th>
        <th>
          Area
        </th>
        <th>
           Edad
        </th>
        <th>
           Sueldo
        </th>
       
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <img src="@item.foto" width="120" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ap_pat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ap_mat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
       
        <td>
              @Html.DisplayFor(modelItem => item.puesto)
             
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sueldo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { item.id_empleado }) |
            @Html.ActionLink("Detalles", "Details", new { item.id_empleado }) |
            @Html.ActionLink("Eliminar", "Delete", new { item.id_empleado })
        </td>
    </tr>
}

</table>
