﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaEmpleado</title>
     <link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />
</head>

<body>
    <div>
        <form action="VistaEmpleado">
            <h4> Ingrese el número de control del empleado </h4>
            <input type="text" name="Control" />
            <input type="submit" name="Buscar" value="Consultar" />
            

        </form>
    </div>
</body>
</html>
