﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
     <link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />
</head>
<body>
    <div>
        <h1>Bienvenido al sistema de empleados de KualeRz Support</h1>
        <br />


        @Html.ActionLink("Consultar Empleado", "ConsultaEmpleado")
    </div>
</body>
</html>
