﻿@{
  Layout = null;

  Ev_U2.empleado empleado = (Ev_U2.empleado)ViewData["empleado"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaEmpleado</title>
     <link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />
</head>
<body>
    <div>
        <table border="1">
            <tbody>
                <tr>
                   
                    <th>
                        Fotografía
                    </th>
                      <th>
                        Apellido Paterno
                    </th>
                      <th>
                        Apellido Materno
                    </th>
                      <th>
                        Nombre
                    </th>
                      <th>
                        Edad
                    </th>
                      <th>
                        Puesto
                    </th>
                      <th>
                        Area
                    </th>
                      <th>
                        Sueldo
                    </th>
                </tr>
                 <tr>
                    <td>
                        <img src="@empleado.foto" width="120" height="100" />
                    </td>
                       <td>
                        @empleado.ap_pat
                    </td>
                      <td>
                        @empleado.ap_mat
                    </td>
                     <td>
                        @empleado.nombre
                    </td>
                     <td>
                        @empleado.edad
                    </td>
                     <td>
                        @empleado.puesto
                    </td>
                     <td>
                        @empleado.area
                    </td>
                     <td>
                        @empleado.sueldo
                    </td>
                   
                </tr>
            </tbody>
        </table>
        
    </div>
</body>
</html>
