﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" href="~/Content/StyleSheet1.css" rel="stylesheet"/>
    <title>Index</title>
</head>
<body>
    <div>
        <br />
        <h1>Advanced C#</h1>
        <h2>
@Html.ActionLink("AutoProperty", "AutoProperty")
<br />
@Html.ActionLink("CreateCollection", "CreateCollection")
<br />
@Html.ActionLink("UseExtension", "UseExtension")
            </h2>
        <h4>Daniel Garnica</h4>
        
    </div>
</body>
</html>
