﻿@model String

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" href="~/Content/StyleSheet1.css" rel="stylesheet"/>
    <title>Results</title>
</head>
<body>
    <div>
      @Model
    </div>
</body>
</html>
